In [1]:
import warnings 
warnings.filterwarnings('ignore') 
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read book1.xlsx
book1 = pd.read_excel('book1.xlsx')
book1.head()

,Governor ID,Name,Power,Alliance,T1-Kills,T2-Kills,T3-Kills,T4-Kills,T5-Kills,Dead Troops,Rss Assistance,Alliance Helps,Rss Gathered
0,26226635,SAMUK ÁK47,209428753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,51481145179,37012,2665224798
1,14244525,Ahmad aziz,183639425,NaN,36859833,12029865,13813326,740826195,979010742,141293838,34628255108,161965,13659005636
2,2805475,DVL NO SIGNAL,169028194,DVL,9747441,1368737,2177951,114742110,136736557,26952651,4454689237,68946,19477489753
3,43800501,Ahmed of Egypt,162726552,NaN,8075439,9230905,8427427,237844928,215324762,25410910,19876442771,163509,16352553589
4,2854508,Allowances Q8,160229421,NaN,153338114,5483390,5348944,332737020,502274440,96502189,29184769099,62039,8876511224

In [3]:
#read book2.xlsx
book2 = pd.read_excel('book2.xlsx')
book2.head()

,#,Governor ID,Name,Power,Alliance,T1-Kills,T2-Kills,T3-Kills,T4-Kills,T5-Kills,Dead Troops,Rss Assistance,Alliance Helps,Rss Gathered
0,1,26226635,SAMUK ÁK47,209457753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,51481145179,37016,2665224798
1,2,14244525,Ahmad aziz,183698375,NaN,36859833,12029865,13813326,740826195,979010742,141293838,34628255108,161971,13668217763
2,3,2805475,DVL NO SIGNAL,169541084,DVL,9747441,1368737,2177951,114742110,136736557,26952651,4454689237,68953,19505072690
3,4,43800501,Ahmed of Egypt,163325952,NaN,8075439,9230905,8427427,237844928,215324762,25410910,19876442771,163524,16359471026
4,5,2854508,Allowances Q8,160289621,NaN,153338114,5483390,5348944,332737020,502274440,96502189,29184769099,62056,8879551824

In [4]:
#rename columns of book2 Power to New_Power 
book2.rename(columns={'Power':'New_Power'}, inplace=True)
#rename columns of book2 T1-kills to New_T1kills
book2.rename(columns={'T1-Kills':'New_T1kills'}, inplace=True)
#rename columns of book2 T2-kills to New_T2kills
book2.rename(columns={'T2-Kills':'New_T2kills'}, inplace=True)
#rename columns of book2 T3-kills to New_T3kills 
book2.rename(columns={'T3-Kills':'New_T3kills'}, inplace=True)
#rename columns of book2 T4-kills to New_T4kills
book2.rename(columns={'T4-Kills':'New_T4kills'}, inplace=True)
#rename columns of book2 T5-kills to New_T5kills
book2.rename(columns={'T5-Kills':'New_T5kills'}, inplace=True)
#rename columns of book2 Dead Troops to New_Dead_Troops
book2.rename(columns={'Dead Troops':'New_Dead_Troops'}, inplace=True)
#rename columns of book2 rss assistance to New_rss_assistance
book2.rename(columns={'Rss Assistance':'New_rss_assistance'}, inplace=True)
#rename columns of book2 Alliance Helps to New_Alliance_Helps
book2.rename(columns={'Alliance Helps':'New_Alliance_Helps'}, inplace=True)
#rename columns of book2 Rss gathered to New_Rss_gathered   
book2.rename(columns={'Rss Gathered':'New_Rss_gathered'}, inplace=True)
book2.head()

,#,Governor ID,Name,New_Power,Alliance,New_T1kills,New_T2kills,New_T3kills,New_T4kills,New_T5kills,New_Dead_Troops,New_rss_assistance,New_Alliance_Helps,New_Rss_gathered
0,1,26226635,SAMUK ÁK47,209457753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,51481145179,37016,2665224798
1,2,14244525,Ahmad aziz,183698375,NaN,36859833,12029865,13813326,740826195,979010742,141293838,34628255108,161971,13668217763
2,3,2805475,DVL NO SIGNAL,169541084,DVL,9747441,1368737,2177951,114742110,136736557,26952651,4454689237,68953,19505072690
3,4,43800501,Ahmed of Egypt,163325952,NaN,8075439,9230905,8427427,237844928,215324762,25410910,19876442771,163524,16359471026
4,5,2854508,Allowances Q8,160289621,NaN,153338114,5483390,5348944,332737020,502274440,96502189,29184769099,62056,8879551824

In [5]:
df = pd.merge(book1, 
                     book2, 
                     on ='Name', 
                     how ='left')
df

,Governor ID_x,Name,Power,Alliance_x,T1-Kills,T2-Kills,T3-Kills,T4-Kills,T5-Kills,Dead Troops,...,Alliance_y,New_T1kills,New_T2kills,New_T3kills,New_T4kills,New_T5kills,New_Dead_Troops,New_rss_assistance,New_Alliance_Helps,New_Rss_gathered
0,26226635,SAMUK ÁK47,209428753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,...,DVL,2957859.0,1457892.0,3331106.0,247672053.0,287611223.0,75820381.0,5.148115e+10,37016.0,2.665225e+09
1,14244525,Ahmad aziz,183639425,NaN,36859833,12029865,13813326,740826195,979010742,141293838,...,NaN,36859833.0,12029865.0,13813326.0,740826195.0,979010742.0,141293838.0,3.462826e+10,161971.0,1.366822e+10
2,2805475,DVL NO SIGNAL,169028194,DVL,9747441,1368737,2177951,114742110,136736557,26952651,...,DVL,9747441.0,1368737.0,2177951.0,114742110.0,136736557.0,26952651.0,4.454689e+09,68953.0,1.950507e+10
3,43800501,Ahmed of Egypt,162726552,NaN,8075439,9230905,8427427,237844928,215324762,25410910,...,NaN,8075439.0,9230905.0,8427427.0,237844928.0,215324762.0,25410910.0,1.987644e+10,163524.0,1.635947e+10
4,2854508,Allowances Q8,160229421,NaN,153338114,5483390,5348944,332737020,502274440,96502189,...,NaN,153338114.0,5483390.0,5348944.0,332737020.0,502274440.0,96502189.0,2.918477e+10,62056.0,8.879552e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,55976852,youcef 022,56106109,026,25218,94076,212683,230187,1344,421131,...,26,25218.0,94076.0,212683.0,230187.0,1344.0,421131.0,6.308227e+08,16168.0,4.780812e+09
983,91118804,ISUBER MaSaA,56037963,KNT,271195,181925,299115,20878787,10400053,1461425,...,KNT,271195.0,181925.0,299115.0,20878787.0,10400053.0,1461425.0,8.284157e+09,289.0,4.699659e+09
984,52444668,RBceLL,55941474,412Q,276363,176941,215175,4504638,4181229,9951997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,28014660,ᴰʳᴷAlfonso,55936952,12_K,44863420,109934,173763,15200498,11987909,5430140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,68084215,Rôse Lảdỵ,55884028,KNT4,118047,41645,15378,1307609,2050028,4162796,...,KNT4,118047.0,41645.0,15378.0,1307609.0,2050028.0,4162796.0,7.664450e+09,16249.0,1.050317e+10

In [6]:
#drop Alliance_y 
df.drop(['Alliance_y'], axis=1, inplace=True)
#rename Alliance_x to Alliance
df.rename(columns={'Alliance_x':'Alliance'}, inplace=True)

In [7]:
#create new column difference between New_Power and Power
df['difference_power'] = df['New_Power'] - df['Power']
#create new column difference_t1 between New_T1kills and T1-Kills
df['difference_t1'] = df['New_T1kills'] - df['T1-Kills']
#create new column difference_t2 between New_T2kills and T2-Kills
df['difference_t2'] = df['New_T2kills'] - df['T2-Kills']
#create new column difference_t3 between New_T3kills and T3-Kills
df['difference_t3'] = df['New_T3kills'] - df['T3-Kills']
#create new column difference_t4 between New_T4kills and T4-Kills
df['difference_t4'] = df['New_T4kills'] - df['T4-Kills']
#create new column difference_t5 between New_T5kills and T5-Kills
df['difference_t5'] = df['New_T5kills'] - df['T5-Kills']
#create new column difference_dead_troops between New_Dead_Troops and Dead Troops
df['difference_dead_troops'] = df['New_Dead_Troops'] - df['Dead Troops']
#create new column difference_rss_assistance between New_rss_assistance and Rss Assistance
df['difference_rss_assistance'] = df['New_rss_assistance'] - df['Rss Assistance']
#create new column difference_alliance_helps between New_Alliance_Helps and Alliance Helps
df['difference_alliance_helps'] = df['New_Alliance_Helps'] - df['Alliance Helps']
#create new column difference_rss_gathered between New_Rss_gathered and Rss Gathered
df['difference_rss_gathered'] = df['New_Rss_gathered'] - df['Rss Gathered']
df.head()

,Governor ID_x,Name,Power,Alliance,T1-Kills,T2-Kills,T3-Kills,T4-Kills,T5-Kills,Dead Troops,...,difference_power,difference_t1,difference_t2,difference_t3,difference_t4,difference_t5,difference_dead_troops,difference_rss_assistance,difference_alliance_helps,difference_rss_gathered
0,26226635,SAMUK ÁK47,209428753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,...,29000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
1,14244525,Ahmad aziz,183639425,NaN,36859833,12029865,13813326,740826195,979010742,141293838,...,58950.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,9212127.0
2,2805475,DVL NO SIGNAL,169028194,DVL,9747441,1368737,2177951,114742110,136736557,26952651,...,512890.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,27582937.0
3,43800501,Ahmed of Egypt,162726552,NaN,8075439,9230905,8427427,237844928,215324762,25410910,...,599400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,6917437.0
4,2854508,Allowances Q8,160229421,NaN,153338114,5483390,5348944,332737020,502274440,96502189,...,60200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,3040600.0

In [8]:
#create variable difference_power_percentage
df['difference_power_percentage'] = df['difference_power'] / df['Power'] * 100
#create variable difference_t1_percentage
df['difference_t1_percentage'] = df['difference_t1'] / df['T1-Kills'] * 100
#create variable difference_t2_percentage
df['difference_t2_percentage'] = df['difference_t2'] / df['T2-Kills'] * 100
#create variable difference_t3_percentage
df['difference_t3_percentage'] = df['difference_t3'] / df['T3-Kills'] * 100
#create variable difference_t4_percentage
df['difference_t4_percentage'] = df['difference_t4'] / df['T4-Kills'] * 100
#create variable difference_t5_percentage
df['difference_t5_percentage'] = df['difference_t5'] / df['T5-Kills'] * 100
#create variable difference_dead_troops_percentage
df['difference_dead_troops_percentage'] = df['difference_dead_troops'] / df['Dead Troops'] * 100
#create variable difference_rss_assistance_percentage
df['difference_rss_assistance_percentage'] = df['difference_rss_assistance'] / df['Rss Assistance'] * 100
#create variable difference_alliance_helps_percentage
df['difference_alliance_helps_percentage'] = df['difference_alliance_helps'] / df['Alliance Helps'] * 100
#create variable difference_rss_gathered_percentage
df['difference_rss_gathered_percentage'] = df['difference_rss_gathered'] / df['Rss Gathered'] * 100
df.head()

,Governor ID_x,Name,Power,Alliance,T1-Kills,T2-Kills,T3-Kills,T4-Kills,T5-Kills,Dead Troops,...,difference_power_percentage,difference_t1_percentage,difference_t2_percentage,difference_t3_percentage,difference_t4_percentage,difference_t5_percentage,difference_dead_troops_percentage,difference_rss_assistance_percentage,difference_alliance_helps_percentage,difference_rss_gathered_percentage
0,26226635,SAMUK ÁK47,209428753,DVL,2957859,1457892,3331106,247672053,287611223,75820381,...,0.013847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010807,0.000000
1,14244525,Ahmad aziz,183639425,NaN,36859833,12029865,13813326,740826195,979010742,141293838,...,0.032101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.003705,0.067444
2,2805475,DVL NO SIGNAL,169028194,DVL,9747441,1368737,2177951,114742110,136736557,26952651,...,0.303435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010153,0.141614
3,43800501,Ahmed of Egypt,162726552,NaN,8075439,9230905,8427427,237844928,215324762,25410910,...,0.368348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009174,0.042302
4,2854508,Allowances Q8,160229421,NaN,153338114,5483390,5348944,332737020,502274440,96502189,...,0.037571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027402,0.034254

In [9]:
#make new df that has difference_power,difference_t1,difference_t2,difference_t3,difference_t4,difference_t5,difference_dead_troops,difference_rss_assistance,difference_alliance_helps,difference_rss_gathered
df_difference = df[['Name','difference_power','difference_t1','difference_t2','difference_t3','difference_t4','difference_t5','difference_dead_troops','difference_rss_assistance','difference_alliance_helps','difference_rss_gathered']]
df_difference.head()

,Name,difference_power,difference_t1,difference_t2,difference_t3,difference_t4,difference_t5,difference_dead_troops,difference_rss_assistance,difference_alliance_helps,difference_rss_gathered
0,SAMUK ÁK47,29000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
1,Ahmad aziz,58950.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,9212127.0
2,DVL NO SIGNAL,512890.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,27582937.0
3,Ahmed of Egypt,599400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,6917437.0
4,Allowances Q8,60200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,3040600.0

In [10]:
#create new df that has difference_power_percentage,difference_t1_percentage,difference_t2_percentage,difference_t3_percentage,difference_t4_percentage,difference_t5_percentage,difference_dead_troops_percentage,difference_rss_assistance_percentage,difference_alliance_helps_percentage,difference_rss_gathered_percentage
df_difference_percentage = df[['Name','difference_power_percentage','difference_t1_percentage','difference_t2_percentage','difference_t3_percentage','difference_t4_percentage','difference_t5_percentage','difference_dead_troops_percentage','difference_rss_assistance_percentage','difference_alliance_helps_percentage','difference_rss_gathered_percentage']]
df_difference_percentage.head()

,Name,difference_power_percentage,difference_t1_percentage,difference_t2_percentage,difference_t3_percentage,difference_t4_percentage,difference_t5_percentage,difference_dead_troops_percentage,difference_rss_assistance_percentage,difference_alliance_helps_percentage,difference_rss_gathered_percentage
0,SAMUK ÁK47,0.013847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010807,0.000000
1,Ahmad aziz,0.032101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.003705,0.067444
2,DVL NO SIGNAL,0.303435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010153,0.141614
3,Ahmed of Egypt,0.368348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009174,0.042302
4,Allowances Q8,0.037571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027402,0.034254

In [11]:
#create new variable called sumpower that is the sum of Power 
sumpower = df['Power'].sum()
#create new variable called sumt1 that is the sum of T1-Kills
sumt1 = df['T1-Kills'].sum()
#create new variable called sumt2 that is the sum of T2-Kills
sumt2 = df['T2-Kills'].sum()
#create new variable called sumt3 that is the sum of T3-Kills
sumt3 = df['T3-Kills'].sum()
#create new variable called sumt4 that is the sum of T4-Kills
sumt4 = df['T4-Kills'].sum()
#create new variable called sumt5 that is the sum of T5-Kills
sumt5 = df['T5-Kills'].sum()
#create new variable called sumdead_troops that is the sum of Dead Troops
sumdead_troops = df['Dead Troops'].sum()
#create new variable called sumrss_assistance that is the sum of Rss Assistance
sumrss_assistance = df['Rss Assistance'].sum()
#create new variable called sumalliance_helps that is the sum of Alliance Helps
sumalliance_helps = df['Alliance Helps'].sum()
#create new variable called sumrss_gathered that is the sum of Rss Gathered
sumrss_gathered = df['Rss Gathered'].sum()
#create new variable called sumnewpower that is the sum of New_Power
sumnewpower = df['New_Power'].sum()
#create new variable called sumnewt1 that is the sum of New_T1kills
sumnewt1 = df['New_T1kills'].sum()
#create new variable called sumnewt2 that is the sum of New_T2kills
sumnewt2 = df['New_T2kills'].sum()
#create new variable called sumnewt3 that is the sum of New_T3kills
sumnewt3 = df['New_T3kills'].sum()
#create new variable called sumnewt4 that is the sum of New_T4kills
sumnewt4 = df['New_T4kills'].sum()
#create new variable called sumnewt5 that is the sum of New_T5kills
sumnewt5 = df['New_T5kills'].sum()
#create new variable called sumnewdead_troops that is the sum of New_Dead_Troops
sumnewdead_troops = df['New_Dead_Troops'].sum()
#create new variable called sumnewrss_assistance that is the sum of New_Rss_Assistance
sumnewrss_assistance = df['New_rss_assistance'].sum()
#create new variable called sumnewalliance_helps that is the sum of New_Alliance_Helps
sumnewalliance_helps = df['New_Alliance_Helps'].sum()
#create new variable called sumnewrss_gathered that is the sum of New_Rss_Gathered
sumnewrss_gathered = df['New_Rss_gathered'].sum()
#create new variable called sumdifference_power that is the sum of Difference_Power
sumdifference_power = df['difference_power'].sum()
#create new variable called sumdifference_t1 that is the sum of Difference_T1
sumdifference_t1 = df['difference_t1'].sum()
#create new variable called sumdifference_t2 that is the sum of Difference_T2
sumdifference_t2 = df['difference_t2'].sum()
#create new variable called sumdifference_t3 that is the sum of Difference_T3
sumdifference_t3 = df['difference_t3'].sum()
#create new variable called sumdifference_t4 that is the sum of Difference_T4
sumdifference_t4 = df['difference_t4'].sum()
#create new variable called sumdifference_t5 that is the sum of Difference_T5
sumdifference_t5 = df['difference_t5'].sum()
#create new variable called sumdifference_dead_troops that is the sum of Difference_Dead_Troops
sumdifference_dead_troops = df['difference_dead_troops'].sum()
#create new variable called sumdifference_rss_assistance that is the sum of Difference_Rss_Assistance
sumdifference_rss_assistance = df['difference_rss_assistance'].sum()
#create new variable called sumdifference_alliance_helps that is the sum of Difference_Alliance_Helps
sumdifference_alliance_helps = df['difference_alliance_helps'].sum()
#create new variable called sumdifference_rss_gathered that is the sum of Difference_Rss_Gathered
sumdifference_rss_gathered = df['difference_rss_gathered'].sum()

In [12]:
#print out the sum of Power 
print("Old total of Power 1k",sumpower)
#print out the sum of T1-Kills
print("Old total of T1-Kills 1k",sumt1)
#print out the sum of T2-Kills
print("Old total of T2-Kills 1k",sumt2)
#print out the sum of T3-Kills
print("Old total of T3-Kills 1k",sumt3)
#print out the sum of T4-Kills
print("Old total of T4-Kills 1k",sumt4)
#print out the sum of T5-Kills
print("Old total of T5-Kills 1k",sumt5)
#print out the sum of Dead Troops
print("Old total of Dead Troops 1k",sumdead_troops)
#print out the sum of Rss Assistance
print("Old total of Rss Assistance 1k",sumrss_assistance)
#print out the sum of Alliance Helps
print("Old total of Alliance Helps 1k",sumalliance_helps)
#print out the sum of Rss Gathered
print("Old total of Rss Gathered 1k",sumrss_gathered)
#print out the sum of New_Power
print("New total of New_Power 1k",sumnewpower)
#print out the sum of New_T1kills
print("New total of New_T1kills 1k",sumnewt1)
#print out the sum of New_T2kills
print("New total of New_T2kills 1k",sumnewt2)
#print out the sum of New_T3kills
print("New total of New_T3kills 1k",sumnewt3)
#print out the sum of New_T4kills
print("New total of New_T4kills 1k",sumnewt4)
#print out the sum of New_T5kills
print("New total of New_T5kills 1k",sumnewt5)
#print out the sum of New_Dead_Troops
print("New total of New_Dead_Troops 1k",sumnewdead_troops)
#print out the sum of New_Rss_Assistance
print("New total of New_Rss_Assistance 1k",sumnewrss_assistance)
#print out the sum of New_Alliance_Helps
print("New total of New_Alliance_Helps 1k",sumnewalliance_helps)
#print out the sum of New_Rss_Gathered
print("New total of New_Rss_Gathered 1k",sumnewrss_gathered)
#print out the sum of Difference_Power
print("Difference of Difference_Power 1k",sumdifference_power)
#print out the sum of Difference_T1
print("Difference of Difference_T1 1k",sumdifference_t1)
#print out the sum of Difference_T2
print("Difference of Difference_T2 1k",sumdifference_t2)
#print out the sum of Difference_T3
print("Difference of Difference_T3 1k",sumdifference_t3)
#print out the sum of Difference_T4
print("Difference of Difference_T4 1k",sumdifference_t4)
#print out the sum of Difference_T5
print("Difference of Difference_T5 1k",sumdifference_t5)
#print out the sum of Difference_Dead_Troops
print("Difference of Difference_Dead_Troops 1k",sumdifference_dead_troops)
#print out the sum of Difference_Rss_Assistance
print("Difference of Difference_Rss_Assistance 1k",sumdifference_rss_assistance)
#print out the sum of Difference_Alliance_Helps
print("Difference of Difference_Alliance_Helps 1k",sumdifference_alliance_helps)
#print out the sum of Difference_Rss_Gathered
print("Difference of Difference_Rss_Gathered 1k",sumdifference_rss_gathered)

Old total of Power 1k 73967662824
Old total of T1-Kills 1k 21168210178
Old total of T2-Kills 1k 2172919993
Old total of T3-Kills 1k 2718217314
Old total of T4-Kills 1k 52004057318
Old total of T5-Kills 1k 45161142777
Old total of Dead Troops 1k 12825582554
Old total of Rss Assistance 1k 8078455999278
Old total of Alliance Helps 1k 78447668
Old total of Rss Gathered 1k 12488401656276
New total of New_Power 1k 72806117604.0
New total of New_T1kills 1k 20716090435.0
New total of New_T2kills 1k 2078475452.0
New total of New_T3kills 1k 2636775941.0
New total of New_T4kills 1k 51326050265.0
New total of New_T5kills 1k 44580833565.0
New total of New_Dead_Troops 1k 12621885106.0
New total of New_Rss_Assistance 1k 7926484825531.0
New total of New_Alliance_Helps 1k 69214110.0
New total of New_Rss_Gathered 1k 12285944530060.0
Difference of Difference_Power 1k 236387963.0
Difference of Difference_T1 1k -3787528.0
Difference of Difference_T2 1k -12047816.0
Difference of Difference_T3 1k -10589153.0
Difference of Difference_T4 1k 147467585.0
Difference of Difference_T5 1k 56549610.0
Difference of Difference_Dead_Troops 1k 128000.0
Difference of Difference_Rss_Assistance 1k 18060441059.0
Difference of Difference_Alliance_Helps 1k -7836074.0
Difference of Difference_Rss_Gathered 1k 11544688828.0

In [13]:
Kddata = pd.DataFrame({
    'Old_Power': [sumpower],
    'Old_T1-Kills': [sumt1],
    'Old_T2-Kills': [sumt2],
    'Old_T3-Kills': [sumt3],
    'Old_T4-Kills': [sumt4],
    'Old_T5-Kills': [sumt5],
    'Old_Dead_Troops': [sumdead_troops],
    'Old_Rss_Assistance': [sumrss_assistance],
    'Old_Alliance_Helps': [sumalliance_helps],
    'Old_Rss_Gathered': [sumrss_gathered],
    'New_Power': [sumnewpower],
    'New_T1-Kills': [sumnewt1],
    'New_T2-Kills': [sumnewt2],
    'New_T3-Kills': [sumnewt3],
    'New_T4-Kills': [sumnewt4],
    'New_T5-Kills': [sumnewt5],
    'New_Dead_Troops': [sumnewdead_troops],
    'New_Rss_Assistance': [sumnewrss_assistance],
    'New_Alliance_Helps': [sumnewalliance_helps],
    'New_Rss_Gathered': [sumnewrss_gathered],
    'Total Difference_Power': [sumdifference_power],
    'Total Difference_T1': [sumdifference_t1],
    'Total Difference_T2': [sumdifference_t2],
    'Total Difference_T3': [sumdifference_t3],
    'Total Difference_T4': [sumdifference_t4],
    'Total Difference_T5': [sumdifference_t5],
    'Total Difference_Dead_Troops': [sumdifference_dead_troops],
    'Total Difference_Rss_Assistance': [sumdifference_rss_assistance],
    'Total Difference_Alliance_Helps': [sumdifference_alliance_helps],
    'Total Difference_Rss_Gathered': [sumdifference_rss_gathered]


    })
Kddata.head()

,Old_Power,Old_T1-Kills,Old_T2-Kills,Old_T3-Kills,Old_T4-Kills,Old_T5-Kills,Old_Dead_Troops,Old_Rss_Assistance,Old_Alliance_Helps,Old_Rss_Gathered,...,Total Difference_Power,Total Difference_T1,Total Difference_T2,Total Difference_T3,Total Difference_T4,Total Difference_T5,Total Difference_Dead_Troops,Total Difference_Rss_Assistance,Total Difference_Alliance_Helps,Total Difference_Rss_Gathered
0,73967662824,21168210178,2172919993,2718217314,52004057318,45161142777,12825582554,8078455999278,78447668,12488401656276,...,236387963.0,-3787528.0,-12047816.0,-10589153.0,147467585.0,56549610.0,128000.0,1.806044e+10,-7836074.0,1.154469e+10

In [14]:
df_difference_top = df_difference
df_difference_top.head()

,Name,difference_power,difference_t1,difference_t2,difference_t3,difference_t4,difference_t5,difference_dead_troops,difference_rss_assistance,difference_alliance_helps,difference_rss_gathered
0,SAMUK ÁK47,29000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
1,Ahmad aziz,58950.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,9212127.0
2,DVL NO SIGNAL,512890.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,27582937.0
3,Ahmed of Egypt,599400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,6917437.0
4,Allowances Q8,60200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,3040600.0

In [15]:
df_difference_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 0 to 986
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       987 non-null    object
 1   difference_power           968 non-null    float64
 2   difference_t1              968 non-null    float64
 3   difference_t2              968 non-null    float64
 4   difference_t3              968 non-null    float64
 5   difference_t4              968 non-null    float64
 6   difference_t5              968 non-null    float64
 7   difference_dead_troops     968 non-null    float64
 8   difference_rss_assistance  968 non-null    float64
 9   difference_alliance_helps  968 non-null    float64
 10  difference_rss_gathered    968 non-null    float64
dtypes: float64(10), object(1)
memory usage: 92.5+ KB

In [16]:
#create a new column called Score 
df_difference_top['Score'] = 0

In [17]:
#make a new column named in df_difference_top called Score
df_difference_top.assign(Score=(df_difference_top.difference_t4*2) + (df_difference_top.difference_t5*7)+(df_difference_top.difference_dead_troops*10))

,Name,difference_power,difference_t1,difference_t2,difference_t3,difference_t4,difference_t5,difference_dead_troops,difference_rss_assistance,difference_alliance_helps,difference_rss_gathered,Score
0,SAMUK ÁK47,29000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
1,Ahmad aziz,58950.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,9212127.0,0.0
2,DVL NO SIGNAL,512890.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,27582937.0,0.0
3,Ahmed of Egypt,599400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,6917437.0,0.0
4,Allowances Q8,60200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,3040600.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
982,youcef 022,32000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3885000.0,0.0
983,ISUBER MaSaA,42000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-28609.0,0.0,0.0
984,RBceLL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,ᴰʳᴷAlfonso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,Rôse Lảdỵ,440008.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,12726000.0,0.0

# From here on it will be quallity of use before code is for me

In [18]:
writer = pd.ExcelWriter('Data.xlsx', engine='xlsxwriter')
book1.to_excel(writer, sheet_name='Sheet1')
book2.to_excel(writer, sheet_name='Sheet2')
df.to_excel(writer, sheet_name='Sheet3')
df_difference.to_excel(writer, sheet_name='Sheet4') 
Kddata.to_excel(writer, sheet_name='Sheet5')
df_difference_top.to_excel(writer, sheet_name='Sheet6')
writer.save()